# Python
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env
.env.local
.env.*.local

# Virtual Environment
venv/
env/
ENV/

# Log files
*.log

# Upload directory
uploads/

# ULog files
*.ulg

# OS specific
.DS_Store
Thumbs.db

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo
